/*Structure*/
body {
    background: #733620;
    font-family:Arial, Helvetica, sans-serif;
}

#content {
    background:white;
    padding:5px;
    margin:20px auto;
    width:70%;
    border-radius:10px;
}

/* Navigation */
#main-nav ul {
    padding-left:0; /* removes left padding */
}

#main-nav li {
    list-style-type: none; /* no bullets */
    display:inline-block; /* appear on one line */
}
#main-nav a {
    text-decoration: none; /* no underline */
    background: #c6d1bb;
    color: white;
    padding:5px;
    margin:5px;
    border-radius:2px;
}

#main-nav a:hover {
    background:black;
    color:#c6d1bb;
}

/* Typography */
h1 {
    color: #3F5A60;
}

p {
    color: #461b02;
}