/* Structure */
body {
    background:lightblue;
    font-family:Arial, Helvetica, sans-serif;
    color:darkblue;
}

#content {
    background:lightblue;
    text-align:center;
}

/* Picture */
#pic-background {
    background:lightcyan;
    padding-top:20px;
    margin:50px;
    margin-bottom:5px;
    border:darkcyan 1px solid;
}

#message {
    color:darkblue;
}

#image-container {
    border-top:darkcyan 1px solid;
    border-bottom:darkcyan 1px solid;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.row {
    display:flex;
}

.img {
    width:150px;
    height:250px;
    border:darkcyan 2px solid;
    margin-left:100px;
    margin-right:100px;
    margin-top:20px;
    margin-bottom:20px;
}

#cite {
    text-align:left;
    margin-left:5px;
}

footer {
    text-align:center;
}

/* Visibility */
.hidden {
    display:none;
}

/* Media Queries */
@media only screen and (min-width:600px) {
    .columns {
        display:flex;
        flex-wrap:wrap;
    }

    .one {
        flex:1;
    }
}
